* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 0;
  width: 25%;
  font-size: 2em;
  border: 1px solid #888;
  border-style: solid;
  border-color: #777;
  border-width: 0 1px 1px 0;
}

button:hover {
  background: #f0f0f0 !important;
}

button:active {
  padding: 0;
  background: #fafafa !important;
}

button:last-of-type {
  border-width: 0 0 1px;
}

#root {
  padding: 5px;
  max-width: 700px;
  margin: 10px auto;
}

#App,
.group,
#Display,
#ButtonPanel {
  display: flex;
}

#App,
#Display,
#ButtonPanel {
  flex-direction: column;
}

.group,
#Display {
  height: 100px;
}

#App {
  border-radius: 3px;
  border: 1px solid #777;
}

#Display {
  margin: 0;
  color: #fff;
  padding: 1rem;
  line-height: 1;
  font-weight: 400;
  text-align: right;
  background: #777;
  justify-content: center;
}

#Display span {
  width: 100%;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 10px;
}

.x2 {
  width: 50%;
}

.group:last-of-type button {
  border-bottom-width: 0;
}

@media (max-width: 400px) {
  .group {
    height: 70px;
  }

  button {
    font-size: 1.2em;
  }
}
