@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  font-family: Nunito;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background: #697569;
}

button:active {
  padding: 0;
}

.x2 {
  width: 50%;
}

.group {
  display: flex;
  height: 16.66%;
  padding: 1px 0;
}

.group>button {
  border: none;
  color: #fff;
  margin: 0 1px;
  cursor: pointer;
  font-size: 1.3rem;
  background: none;
  width: calc(25% - 2px);
}

.group>button.control {
  background: #202822;
}

.group>button.numpad {
  background: #1a201d;
}

.group>button.equal {
  background: #4d4f20;
}

.group>button.numpad:hover,
.group>button.control:hover {
  background: #2a332c;
}

.group>button.equal:hover {
  background: #666814;
}

#App {
  margin: auto;
  height: 100vh;
  max-width: 1000px;
  border-radius: 3px;
}

#Display {
  height: 20%;
  color: #fff;
  background: #131a17;
}

#Display>p {
  margin: 0;
  display: flex;
  cursor: default;
  padding: 5px 15px;
  align-items: center;
  justify-content: flex-end;
}

#Display>p:first-of-type {
  height: 35%;
}

#Display>p:last-of-type {
  height: 65%;
  font-size: 2rem;
}

#ButtonPanel {
  height: 80%;
  cursor: pointer;
  background: #384036;
}

@media (max-width: 500px) {
  .group>button {
    font-size: 1.1rem;
  }

  #Display>p:last-of-type {
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {

  .group>button {
    font-size: 1rem;
  }
}

@media (max-height: 300px) {

  .group>button {
    font-size: 1rem;
  }
}
