* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 0;
  width: 25%;
  font-size: 2em;
  border: 1px solid #888;
  border-style: solid;
  border-color: #777;
  border-width: 0 1px 1px 0;
}

button:focus {
  outline: 0;
}

button:last-of-type {
  border-width: 0 0 1px;
}

#root {
  margin: 10px auto;
  max-width: 700px;
}

#App,
.group,
#Display,
#ButtonPanel {
  display: flex;
}

#App,
#ButtonPanel {
  flex-direction: column;
}

.group,
#Display {
  height: 100px;
}

#App {
  border-radius: 3px;
  border: 1px solid #777;
}

#Display {
  margin: 0;
  color: #fff;
  padding: 1rem;
  line-height: 1;
  font-weight: 400;
  background: #777;
  align-items: center;
  justify-content: end;
}

.x2 {
  width: 50%;
}

.group:last-of-type button {
  border-bottom-width: 0;
}
